footer {
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(lightblue), to(#ced8ec));
    background-image: linear-gradient(to top, lightblue, #ced8ec);
    height: 150px;
    -webkit-transition: height 1.0s;
    transition: height 1.0s;
  }
  
  footer:hover {
    height: 350px;
  }
  
  main {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ced8ec), to(lightblue));
    background-image: linear-gradient(to top, #ced8ec, lightblue);
    text-align: center;
  }
  
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#071024), to(lightblue));
    background-image: linear-gradient(to bottom, #071024, lightblue);
    color: white;
    grid-area: header;
  }
  
  aside {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ced8ec), to(lightblue));
    background-image: linear-gradient(to top, #ced8ec, lightblue);
  }
  
  .img-fluid-1 {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .img-fluid-1:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
  }
  
  .inputP {
    margin: 0;
    padding: 5px;
    font-size: 90%;
    font-family: cursive;
  }
  
  input:focus {
    width: 200px;
    height: 30px;
  }
  
  .subContenido {
    background-color: #ced8ec;
  }
  
  .subContenido .subContenido--h3 {
    text-align: center;
  }
  
  .subContenido .subContenido--div {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    border: inset 1px;
    background-color: #ced8ec;
    width: 200px;
  }
  
  .subContenido > div:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .fotosGaleria {
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template: 20%;
    gap: 15px;
  }
  
  .fotosGaleria1:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    border: 2px solid black;
    border-radius: 20px;
  }
  
  .container .container--h1 {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 3rem;
  }
  
  .container .container--h1 .container__a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ced8ec;
  }
  
  h1 {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 3rem;
  }
  
  h1 a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ced8ec;
  }
  
  h1 a:hover {
    color: #ced8ec;
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h3 {
    font-size: 1.5rem;
    font: family Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    color: black;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .button-twitter {
    background-color: #55acee;
  }
  
  .button-facebook {
    background-color: #3a5795;
  }
  
  .button-mail {
    background-color: #c25e30;
  }
  /*# sourceMappingURL=estilos.css.map */